.chartContainer {
    display: flex;
    justify-content: center; /* Căn giữa biểu đồ */
    align-items: center;
    margin: 20px 0; /* Khoảng cách trên/dưới biểu đồ */
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng */
    padding: 10px;
    max-width: 500px; /* Giới hạn chiều rộng */
  }
  
  .chart {
    width: 100%;
    height: 100%;
  }
  